.copyrightFooter {
    background-color: var(--ROSEDA);

}

@media only screen and (max-width: 415px) {
    .copyrightFooter {
        font-size: 10px;
    }
}

@media only screen and (max-width: 300px) {
    .copyrightFooter {
        font-size: 8px;
    }

    #footerImage {
        width: 14px;
        height: auto;
    }
}