.label {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

#label-gdpr {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.input {
    color: black;
    height: 40px;
}

#checkbox-gdpr {
    height: 30px;
    width: 30px;
}

.form-form-component {
    left: 50%;
    top: 40%;
    transform: translate(-50%, -30%);
    background-color: var(--ROSEDA);
    padding: 8px;
    border: 2px solid #894E38;
    border-radius: 10px;

}

.form-form-form {
    width: auto;
    min-height: 300px;
}

#formButton {
    margin: 30px 10px 0px 10px;
    padding: 10px 0px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
}


@media only screen and (max-width: 870px) {
    .form-element-button {
        padding: 0px 5px;
    }

    #label-gdpr {
        font-size: 15px;
    }

    #checkbox-gdpr {
        height: 20px;
        width: 20px;
    }

    .label {
        font-size: 20px;
    }

    .input {
        height: 30px;
    }

    #formButton {
        margin: 10px 7px 0px 7px;
        padding: 3px 0px;
    }
}

@media only screen and (max-width: 700px) {
    .form-element-button {
        padding: 0px 3px;
    }

    #label-gdpr {
        font-size: 15px;
    }

    #checkbox-gdpr {
        height: 17px;
        width: 17px;
    }

    .label {
        font-size: 15px;
    }

    .input {
        height: 25px;
        margin-bottom: 4px;
    }

    #formButton {
        margin: 7px 7px 0px 7px;
        padding: 2px 0px;
        font-size: 15px;
    }

    .br-element {
        display: none;
    }
}

@media only screen and (max-width: 456px) {
    .form-form-component {
        top: 44%;
    }
}

@media only screen and (max-width: 423px) {

    #label-gdpr {
        font-size: 12px;
    }

    #checkbox-gdpr {
        height: 12px;
        width: 12px;
    }

    .label {
        font-size: 12px;
    }

    .input {
        height: 18px;
        margin-bottom: 4px;
    }

    #formButton {
        margin: 3px 3px 0px 3px;
        padding: 0px 0px;
        font-size: 11px;
    }

    .form-form-component {
        left: 50%;
        top: 48%;
        transform: translate(-50%, -30%);
    }
}