.mission-title {
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);

}

.mission-description {
    font-size: 30px;
    color: white;
    padding-right: 35px;
}

.mission-component {
    left: 9%;
    bottom: 10%;
}

@media only screen and (max-width: 1570px) {
    .mission-component {
        bottom: 12%;
    }
}

@media only screen and (max-width: 1030px) {

    .mission-component {
        bottom: 7%;
    }

    .mission-description {
        font-size: 28px;
    }

    .mission-title {
        font-size: 35px;
    }
}

@media only screen and (max-width: 859px) {

    .mission-description {
        font-size: 21px;
    }

    .mission-title {
        font-size: 35px;
    }
}

@media only screen and (max-width: 671px) {

    .mission-description {
        font-size: 18px;
    }

    .mission-title {
        font-size: 30px;
    }
}